body{
    background-color: grey;
    margin: 0;
    padding: 0;
}

header{
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;

}

.logo{
    /* background-color: orange; */
    text-align: center;
    background: #f8a201 url(../img/rightbg1.jpg) no-repeat;
    background-position: cover;
    /* border: 1px solid green; */
}

.navigation_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: lightsalmon;
}

.navigation li{
    display: block;
    

    background-color: lightsalmon;
    border: 1px solid white;
    font-size: 30px;
}

